<%= form_for(@namespace) do |f| %>
  <% if @namespace.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@namespace.errors.count, "error") %> prohibited this namespace from being saved:</h2>

      <ul>
      <% @namespace.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="input-field">
    <%= f.label '命名空间' %><br>
    <%= f.text_field :ns %>
  </div>
  <div class="input-field">
    <%= f.label 'Action' %><br>
    <%= f.text_field :url_key %>
  </div>
  <div class="input-field">
    <%= f.label '请求地址' %><br>
    <%= f.text_field :url_address %>
  </div>

  <div class="input-field">
    <%= f.label '描述' %><br>
    <%= f.text_field :description %>
  </div>

  <div class="actions">
    <%= link_to namespaces_path,  class: "waves-effect waves-light btn left" do%>
      <span class="link-txt">返回列表</span> 
    <%end%>
    <%= f.submit btn_txt, class: 'waves-effect waves-light btn right' %>
  </div>
<% end %>
