<h3 class='center'>添加状态码</h3>
<%= link_to namespaces_path,  class: "waves-effect waves-light btn" do%>
  <span class="link-txt">返回列表</span> 
<%end%>

<%= hidden_field_tag 'state_codes_num', StateCode.count%>
<%= hidden_field_tag 'messages', @errors%>

<div class="row">
	<div id="add" class="col s12">
    	<%= form_for(@state_code, :url => create_state_codes_namespace_path(@namespace)) do |f| %>
			  <div class="input-field">
			    <%= f.label '状态编码' %><br>
			    <%= f.text_field :code_num %>
			  </div>

			  <div class="input-field">
			    <%= f.label '状态描述' %><br>
			    <%= f.text_field :code_des %>
			  </div>

			  <div class="actions center">
			    <%= f.submit '添加状态码', class: 'waves-effect waves-light btn'%>
			  </div>
			<% end %>
    </div>
</div>


<script type="text/javascript">
		$(function(){
			var messages = $('#messages').val();
			if(messages != '') {
				var errors = $('#messages').val().split(','),
				    len = messages.length;
				while(len--) {
					Materialize.toast(errors[len], 5000);
				}
			}

			if(parseInt($('#state_codes_num').val(),10) == 0){
				$('ul.tabs').tabs('select_tab', 'add');
			}else{
				$('ul.tabs').tabs('select_tab', 'choose');
				$('select').material_select();
			}
		});
</script>
