
<div class="row section">
  <div class="right">
    <%= link_to new_namespace_path,  class: "waves-effect waves-light btn" do%>
      <i class="material-icons">add</i><span class="link-txt">添加Mock</span> 
    <%end%>
  </div>
</div>



<div class="row">
  <% @namespaces.each do |namespace| %>
    <div class="col s12 m6 l3 ">
      <div class="section z-depth-4">
        <div>命名空间: <%= namespace.ns %> | <%= namespace.url_key %></div>
        <div>请求地址: <%= namespace.url_address %></div>
        <div>状态数量: <%= namespace.state_codes.count %></div>
        <div>
          <%= link_to add_state_codes_namespace_path(namespace), class: "waves-effect waves-light btn" do%>
            <i class="material-icons">add</i><span class="link-txt">状态码</span> 
          <%end%>
          <%= link_to namespace, class: "waves-effect waves-light btn" do%>
            <i class="material-icons">visibility</i><span class="link-txt">查看</span> 
          <%end%>
          <%= link_to edit_namespace_path(namespace), class: "waves-effect waves-light btn" do%>
            <i class="material-icons">mode_edit</i><span class="link-txt">编辑</span> 
          <%end%>
          <%= link_to namespace, method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect waves-light btn" do %>
            <i class="material-icons">delete</i><span class="link-txt">删除</span> 
          <%end%>
        </div>
      </div>
    </div>
  <%end%>
</div>








